#hello{
    background-color: lightpink;
    position:fixed;
    text-align: center;
    width:100%;
}
.one{
    position:absolute;
    top:75%;
    height:250px;
    width:250px;
    z-index: -1;
    left:45%;
    border-radius:10px;
}
.two{
    position: absolute;
    height:250px;
    width:250px;
    z-index: -1;
    left:10px;
    top:15%;
}
.three{
    position:absolute;
    height:250px;
    width:250px;
    right:10px;
    top:15%;
    z-index:-1
}
.four{
    position:absolute;
    height:250px;
    width:250px;
    z-index: -1;
    top:55%;
    left:10px;
}
.five{
    position: absolute;
    height:250px;
    width:250px;
    z-index: -1;
    top:55%;
    right:10px;

}
.six{
    position:absolute;
    height:250px;
    width:250px;
    z-index: -1;
    top:95%;
    right:10px;
}
.seven{
    position:absolute;
    height:250px;
    width:250px;
    top:95%;
    left:10px;
    z-index: -1;
}
.eight{
    position:absolute;
    height:250px;
    width:250px;
    z-index: -1;
    left:10px;
    top:135%;

}
.nine{
    position: absolute;
    height:250px;
    width:250px;
    z-index: -1;
    top:135%;
    right:10px;
}